.panel1 {
    border: solid green 1px;
    padding: 10px;
    background-color: palegoldenrod;
    transition-property: max-height, border-width, margin-bottom, padding-top, padding-bottom;
    transition-duration: 1s;
    transition-timing-function: ease;
    max-height: 300px;
}
    

    .panel1.hidden {
        max-height: 0;
        border-width: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
    }
