.panel1 {
    border: solid green 1px;
    padding: 10px;
    background-color: palegoldenrod;
    transition-property: border-width, transform, margin-bottom, padding-top, padding-bottom;
    transition-duration: 1s;
    transform-origin: top;
    transition-timing-function: ease;
    transform: scaleY(1);
}


    .panel1.hidden {
        border-width: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        transform: scaleY(0);
    }
